<div class="disc-row disc-row-xs-{{lvl}}" id="post-{{id}}">
    <div class="disc-col" id="icon-col">
        <div>
            <img class="img-discussion" src="{{path}}/assets/img/elm_50px.png">
        </div>
    </div>
    <div class="disc-col data-col">


        {{#editOpen}}
        <div class="post-edits">
            <table class="table edit-table">
                <tr>
                    <td colspan="3">
                        Edited Posts
                    </td>
                </tr>
                {{#edits}}
                <tr>
                    <td class="edit-id">
                        {{id}}
                    </td>
                    <td>
                        {{{msg}}}
                    </td>
                    <td>
                        {{date}}
                    </td>
                </tr>
                {{/edits}}
            </table>
        </div>
        {{/editOpen}}


        <div class="post-header">
            <span class="post-email">
                {{^editOpen}}
                {{user}}
                {{/editOpen}}
                {{#editOpen}}
                Current Post
                {{/editOpen}}
            </span>
            <span class="post-date">{{date}}</span>
        </div>
        <div class="post-content">{{{msg}}}</div>
        <div class="post-edit-text">
            <textarea id="ta-edit-{{id}}"></textarea><br />
            <button class="btn btn-primary btn-submit-edit">Submit</button><button class="btn btn-default btn-cancel-edit">Cancel</button>
        </div>
        <div class="post-reply-text">
            <textarea id="ta-reply-{{id}}"></textarea><br />
            <button class="btn btn-primary btn-submit-reply">Submit</button><button class="btn btn-default btn-cancel-reply">Cancel</button>
        </div>

        <div class="post-buttons">
            {{#numreplies}}
            <span class="span-rep post-drop">
                {{numreplies}} {{#singlereply}}Reply{{/singlereply}}{{^singlereply}}Replies{{/singlereply}}
                {{^repOpen}}
                <span class="btn-view glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                {{/repOpen}}
                {{#repOpen}}
                <span class="btn-view glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                {{/repOpen}}
            </span>
            {{/numreplies}}
            {{#numedits}}
            <span class="span-ed post-drop">{{numedits}} {{#singleedit}}Edit{{/singleedit}}{{^singleedit}}Edits{{/singleedit}} 
                {{^editOpen}}
                <span class="btn-view glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                {{/editOpen}}
                {{#editOpen}}
                <span class="btn-view glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                {{/editOpen}}
            </span>
            {{/numedits}}

            <span class="span-reply post-btn"><button class="btn-reply btn btn-primary"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span></button></span>
            {{#canedit}}
            <span class="span-edit post-btn"><button class="btn-reply btn btn-primary"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></button></span>
            <span class="span-delete post-btn"><button class="btn-reply btn btn-danger"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button></span>
            {{/canedit}}
            <div class="delete-query bg-danger" style="float:right; padding:10px; border-radius:16px; display:none;">
                <button style="float:right; margin-left:6px; margin-bottom:6px;" class="btn delete-cancel-btn btn-default"><span class="glyphicon-remove glyphicon"></span></button>
                <button style="float:right;" class="btn delete-confirm-btn btn-danger"><span class="glyphicon-trash glyphicon"></span></button>
                <br clear="all" />Are you sure you want to delete this post
            </div>
        </div>
    </div>
</div>
<hr />
{{#repOpen}}
{{#replies}}
{{>row}}
{{/replies}}
{{/repOpen}}
